.dyProductCont {
    grid-gap: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
}
.dyProductBtns {
  display: flex;
  justify-content: space-evenly;
}
.btnAddCart:hover{
  background-position: right center;
}
.btnAddCart{
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #4ecdc4 0%, #c797eb 75%);
}
.dyProductImg  img{
  height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}.dyProductDesc{
  margin-bottom: 30px;
  width: 76%;
}
.dyProductHead{
  font-size: 1.6rem;
  font-weight: 700;
  margin: 10px 0;
}
.dyProductRatingsCont {
  align-items: center;
  display: flex;
  font-size: .8rem;
  gap: 5px;
}
.dyProductRating {
  display: flex;
  gap: 3px;
  align-items: center;
  background-color: #11a411;
  color: white;
  padding: 5px;
  border-radius: 8px;
}
.dyProductHighlightsCont{
  display: flex;
  font-size: .8rem;
  font-weight: 700;
  gap: 10px;
  margin: 10px 0;
}
.Mrp{
  align-items: flex-end;
  display: flex;
  gap: 5px;
}
@media only screen and (min-device-width: 270px) and (max-device-width: 1200px) {
  .dyProductCont {
    grid-template-columns: auto;
    align-items: center;
  }
  .dyProductImg img {
    width: 250px;
    aspect-ratio: 1/1;
    align-self: center;
  }
  .dyProductHead {
    font-size: 1.4rem;
  }
}
@media only screen and (min-device-width: 270px) and (max-device-width: 500px) {
  /* .Mrp{
    top:-53px;
    left:3px;
  } */
  .dyProductImg img {
    width: 200px;
    aspect-ratio: 1/1;
   /* top:198px;
   left:10px;
   position: relative;*/
  } 
  /* .dyProductCont {
    top:189px;
    position: relative;
  } */
}
