.prodContItem {
  border: 2px solid #c2bbbb;
  min-height: 300px;
  padding: 4px;
  width: 20vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.productContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 0 100px 100px;
}

.laptop_container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-around;
}

.prodContItemImage {
  position: relative;
  height: 30vh;
  width: 15vw;
}

.dyProductOriPrice {
  color: black;
  padding: 5px;
  text-align: center;
}

.prodContItemImage img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}

.adbtn {
  min-width: 108px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ffe566;
  box-shadow: 0 5px #ffd819;
}

.adbtn:hover {
  box-shadow: 0 3px #ffd819;
  top: 1px;
}

.adbtn:active {
  box-shadow: 0 0 #ffd819;
  top: 5px;
}

.prodContItemPrice {
  text-align: right;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 1200px) {}

@media only screen and (min-device-width: 270px) and (max-device-width: 500px) {
  .prodContItem {
    padding: 41px;
  }

  .productContainer {
    top: 190px;
    position: relative;
  }

  .prodContItemImage {
    margin: -11px;
    height: 108px;
    width: 96px;

  }

  .prodContItemHeading {
    font-size: 0.7rem;
    margin: 21px 0;
  }

  .laptop_container {
    width: 80vw;
  }

  .adbtn {
    min-width: 80px;
    left: -32px;
    bottom: -39px;
  }

}